<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
      <a class="header-logo">NODE MEMO APP</a>
    </header>
    <div class="container">
      <div class="container-header">
        <h1>Memo作成</h1>
      </div>
      <div class="item-form-wrapper">
        <form action="/create" method="post">
          <input name="itemName" type="text">
          <input type="submit" value="作成する">
        </form>
      </div>
      <a href="/" class="cancel-button">もどる</a>
    </div>
  </body>
</html>